---
title: Contact
---

<h1 class="about">Contact me</h1>

<form id="contact-form" action="https://formspree.io/f/xyyravod" method="POST">
  <label>
    Email address
    <input type="email" name="email" />
  </label>
  <label>
    Message
    <textarea name="message"></textarea>
  </label>
  <button class="button" type="submit">Send</button>
  <p id="form-submission-status"></p>
</form>

<script>
  const form = document.getElementById("contact-form");

  async function handleSubmit(event) {
    event.preventDefault();

    const statusElement = document.getElementById("form-submission-status");

    fetch(event.target.action, {
      method: form.method,
      body: new FormData(event.target),
      headers: {
        Accept: "application/json",
      },
    })
      .then((response) => {
        if (response.ok) {
          statusElement.innerHTML = "Thanks for your message!";
          form.reset();
        } else {
          response.json().then((data) => {
            if (Object.hasOwn(data, "errors")) {
              statusElement.innerHTML = data["errors"]
                .map((error) => error["message"])
                .join(", ");
            } else {
              throw data;
            }
          });
        }
      })
      .catch((error) => {
        statusElement.innerHTML = "Error submitting enquiry";
      });
  }
  form.addEventListener("submit", handleSubmit);
</script>
