---
title: Home
description: Software developer from Melbourne, Australia.
---

<h1 class="about">Hi, I'm Josh 👋</h1>
<p>Software developer from Melbourne, Australia.</p>

<h3 class="intro">My latest <a class="nounderline" href="/blog/">blog posts</a></h3>

<% published_articles.first(5).each do |post| %>
    <article>
        <h1><%= link_to post[:title], post.path %></h1>
        <aside><%= formatted_date(post) %></aside>
    </article>
<% end %>

<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "Person",
    "name" : "Josh Parnham",
    "url" : "http://joshparnham.com",
    "alumniOf": "Monash",
    "birthDate": "1995.10.31",
    "gender": "male",
    "nationality": "Australian",
    "sameAs" : [
        "https://linkedin.com/in/joshparnham/",
        "https://facebook.com/josh.parnham/",
        "https://twitter.com/joshparnham/",
        "https://instagram.com/joshparnham/"
    ]
}
</script>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": "Josh Parnham",
    "url": "http://joshparnham.com"
}
</script>