--- 
title: Blog
description: Blog posts that I've written.
---

<h1 class="about">Blog posts</h1>

<% published_articles.each do |post| %>
  <article>
    <h1><%= link_to post[:title], post.path %></h1>
    <aside><%= formatted_date(post) %></aside>
       <%= post_introduction(post) %>
  </article>
<% end %>
