---
title: Projects
description: Collection of various software projects that I've worked on.
---

<h1 class="about">Projects</h1>

<div style="width: 100%;">
    <% sorted_projects.each do |project| %>
        <div class="project" style="margin-top: 20px; margin-bottom: 20px;">
            <a class="nounderline" href="<%= project.path %>">
                <div class="section group" style="padding: 20px; border: 1px solid #cccccc; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                    <div class="col span_1_of_3">
                        <img src="<%= icon(project) %>" style="max-width: 150px; display: block; margin: auto">
                    </div>
                    <div class="col span_2_of_3">
                        <% if !project[:active] %>
                            <div class="lozenge"><i class="fa-solid fa-triangle-exclamation"></i> No longer maintained</div>
                        <% end %>
                        <h3 style="margin-bottom: 10px; margin-top: 10px;"><%= project[:title] || "" %></h3>
                        <span class="platform"><%= project[:platform] || "" %></span>
                        <p><%= project[:description] || "" %></p>
                    </div>
                </div>
            </a>
        </div>
    <% end %>
</div>
