/* Contact */

#contact-form {
  label {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
    color: $grey4;
  }

  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid $grey1;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
  }

  #form-submission-status {
    padding: 20px 0;
  }
}
