/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;

  .links {
    display: flex;
    gap: 15px;

    a {
      font-size: 35px;
      color: $grey2;
      transition: background-color 0.3s;

      &:hover {
        color: black;
      }
    }
  }
}
