/* Grid from http://www.responsivegridsystem.com */

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
  &:first-child {
    margin-left: 0;
  }
}

.group {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.span_3_of_3 {
  width: 100%;
}

.span_2_of_3 {
  width: 66.1%;
}

.span_1_of_3 {
  width: 32.2%;
}

.span_1_of_2 {
  width: 49%;
}

@media only screen and (max-width: 660px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 660px) {
  .span_3_of_3,
  .span_2_of_3,
  .span_1_of_3,
  .span_1_of_2 {
    width: 100%;
  }
}
