/* Header */

header {
  display: flex;
  flex-direction: column;
  padding: 15px 0;

  margin-left: 5%;
  margin-right: 5%;

  .avatar {
    display: flex;
    align-items: center;
    padding: 10px 0;
    gap: 10px;

    img {
      border-radius: 50px;
      max-width: 50px;
    }

    h1 {
      font-weight: 500;
    }
  }

  nav {
    ul {
      display: flex;
      padding: 10px 0;
      gap: 14px;

      li {
        list-style-type: none;
        a {
          text-decoration: none;
          color: $grey2;
          transition: background-color 0.3s;

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  header {
    margin-left: 15%;
    margin-right: 15%;
  }
}
