/* Inspired by:
* - https://www.jimmybonney.com/articles/code_highlighting_nanoc_with_rouge/
* - https://raw.githubusercontent.com/numist/highlight-css/pygments-update/xcode.css
*/

pre {
  border: solid 1px #ddd;
  background: #fff;
  padding: 1em 0px 1em 1em;
  line-height: 23px;
  margin-bottom: 20px;
  white-space: pre;
  overflow-x: scroll;
}

td.linenos .normal {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos {
  color: inherit;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}
td.linenos .special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
span.linenos.special {
  color: #000000;
  background-color: #ffffc0;
  padding-left: 5px;
  padding-right: 5px;
}
.highlight .hll {
  background-color: #ffffcc;
}
.highlight {
  background: #ffffff;
}
.highlight .c {
  color: #177500;
} /* Comment */
.highlight .err {
  color: #000000;
} /* Error */
.highlight .k {
  color: #a90d91;
} /* Keyword */
.highlight .l {
  color: #1c01ce;
} /* Literal */
.highlight .n {
  color: #000000;
} /* Name */
.highlight .o {
  color: #000000;
} /* Operator */
.highlight .ch {
  color: #177500;
} /* Comment.Hashbang */
.highlight .cm {
  color: #177500;
} /* Comment.Multiline */
.highlight .cp {
  color: #633820;
} /* Comment.Preproc */
.highlight .cpf {
  color: #177500;
} /* Comment.PreprocFile */
.highlight .c1 {
  color: #177500;
} /* Comment.Single */
.highlight .cs {
  color: #177500;
} /* Comment.Special */
.highlight .kc {
  color: #a90d91;
} /* Keyword.Constant */
.highlight .kd {
  color: #a90d91;
} /* Keyword.Declaration */
.highlight .kn {
  color: #a90d91;
} /* Keyword.Namespace */
.highlight .kp {
  color: #a90d91;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #a90d91;
} /* Keyword.Reserved */
.highlight .kt {
  color: #a90d91;
} /* Keyword.Type */
.highlight .ld {
  color: #1c01ce;
} /* Literal.Date */
.highlight .m {
  color: #1c01ce;
} /* Literal.Number */
.highlight .s {
  color: #c41a16;
} /* Literal.String */
.highlight .na {
  color: #836c28;
} /* Name.Attribute */
.highlight .nb {
  color: #a90d91;
} /* Name.Builtin */
.highlight .nc {
  color: #3f6e75;
} /* Name.Class */
.highlight .no {
  color: #000000;
} /* Name.Constant */
.highlight .nd {
  color: #000000;
} /* Name.Decorator */
.highlight .ni {
  color: #000000;
} /* Name.Entity */
.highlight .ne {
  color: #000000;
} /* Name.Exception */
.highlight .nf {
  color: #000000;
} /* Name.Function */
.highlight .nl {
  color: #000000;
} /* Name.Label */
.highlight .nn {
  color: #000000;
} /* Name.Namespace */
.highlight .nx {
  color: #000000;
} /* Name.Other */
.highlight .py {
  color: #000000;
} /* Name.Property */
.highlight .nt {
  color: #000000;
} /* Name.Tag */
.highlight .nv {
  color: #000000;
} /* Name.Variable */
.highlight .ow {
  color: #000000;
} /* Operator.Word */
.highlight .mb {
  color: #1c01ce;
} /* Literal.Number.Bin */
.highlight .mf {
  color: #1c01ce;
} /* Literal.Number.Float */
.highlight .mh {
  color: #1c01ce;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #1c01ce;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #1c01ce;
} /* Literal.Number.Oct */
.highlight .sa {
  color: #c41a16;
} /* Literal.String.Affix */
.highlight .sb {
  color: #c41a16;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #2300ce;
} /* Literal.String.Char */
.highlight .dl {
  color: #c41a16;
} /* Literal.String.Delimiter */
.highlight .sd {
  color: #c41a16;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #c41a16;
} /* Literal.String.Double */
.highlight .se {
  color: #c41a16;
} /* Literal.String.Escape */
.highlight .sh {
  color: #c41a16;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #c41a16;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #c41a16;
} /* Literal.String.Other */
.highlight .sr {
  color: #c41a16;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #c41a16;
} /* Literal.String.Single */
.highlight .ss {
  color: #c41a16;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #5b269a;
} /* Name.Builtin.Pseudo */
.highlight .fm {
  color: #000000;
} /* Name.Function.Magic */
.highlight .vc {
  color: #000000;
} /* Name.Variable.Class */
.highlight .vg {
  color: #000000;
} /* Name.Variable.Global */
.highlight .vi {
  color: #000000;
} /* Name.Variable.Instance */
.highlight .vm {
  color: #000000;
} /* Name.Variable.Magic */
.highlight .il {
  color: #1c01ce;
} /* Literal.Number.Integer.Long */
.highlight .g {
  color: #000000;
} /* Generic */
.highlight .gd {
  color: #c41a16;
} /* Generic.Deleted */
.highlight .gi {
  color: #177500;
} /* Generic.Inserted */
