@import "partials/_variables";
@import "partials/_syntax";
@import "partials/_grid";
@import "partials/_header";
@import "partials/_footer";
@import "partials/_contact";

/* Global */

* {
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
    sans-serif;
}

img {
  &.responsive {
    max-width: 100%;
  }
  &.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 0.5px;
  color: $grey1;
  background: $grey1;
  font-size: 0;
  border: 0;
}

iframe {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

video {
  object-fit: fill;
  width: 100%;
}

small {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  color: $grey2;
  font-size: 16px;
}

code {
  word-break: break-all;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: $grey3;
  color: $white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: black;
  }
}

.lozenge {
  display: inline-block;
  padding: 4px 6px;
  background-color: $grey2;
  color: $white;
  border: none;
  border-radius: 8px;
}

/* Content */

section.content {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 15px;
  h1 {
    font-weight: 400;
  }
}

a {
  color: $grey4;
  &.fluidbox:hover {
    cursor: zoom-in;
  }
}

section.content {
  h2 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.4em;
  }
  p,
  ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

ol {
  margin-bottom: 10px;
}

section.content {
  li {
    margin-bottom: 3px;
  }
  p {
    line-height: 1.6em;
    font-size: 17px;
    font-weight: 400;
    color: $grey4;
  }
}

ul,
ol {
  line-height: 1.4em;
  font-size: 17px;
  font-weight: 400;
  color: $grey4;
}

section.content blockquote {
  font-style: italic;
  color: $grey3;
  border-left: 4px solid $grey3;
  padding: 8px;
  margin: 5px;
}

h3.intro {
  color: $grey2;
  font-size: 35px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 20px;
}

a.nounderline {
  text-decoration: none;
}

/* Blog Posts */

article {
  margin-bottom: 35px;
  h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  h3 {
    margin-bottom: 12px;
  }
  aside {
    color: $grey2;
    padding-bottom: 8px;
    time,
    span {
      color: $grey2;
      padding-bottom: 8px;
    }
  }

  .post ol,
  ul {
    list-style-position: inside;
  }
}

/* Projects */

span.platform {
  display: block;
  color: $grey2;
  margin-bottom: 10px;
}

/* About */

h1.about {
  color: $grey2;
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 30px;
}

dt,
dd {
  margin-bottom: 20px;
}

dt {
  float: left;
  width: 100px;
}

dd {
  margin-left: 10px;
}

/* Smartphones & Tablets */

@media only screen and (min-width: 480px) {
  section.content {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media only screen and (min-width: 768px) {
  section.content {
    margin-left: 15%;
    margin-right: 15%;
  }
}
