<!DOCTYPE HTML>
<html lang="en">
    <head>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JNH1M8JSQ8"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JNH1M8JSQ8');
        </script>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Josh Parnham - <%= @item[:title] %></title>
        <% if @item[:description] %><meta property="description" content="<%= @item[:description] %>" /><% end %>
        <% if @item[:ogimage] %>
            <meta property="og:image" content="https://joshparnham.com/images/opengraph/<%= @item[:ogimage] %>" />
            <meta property="og:image:width" content="1200" />
            <meta property="og:image:height" content="630" />
        <% end %>
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="icon" type="image/png" href="/favicon-png.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    </head>
    <body lang="en">
        <header role="banner" itemscope itemtype="http://schema.org/WPHeader">
            <div class="avatar">
                <img src="/images/Profile.jpg" />
                <a class="nounderline" href="/"><h1 itemprop="name">Josh Parnham</h1></a>
            </div>
            <nav role="navigation" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <ul>
                    <li><a itemprop="url" href="/">Home</a></li>
                    <li><a itemprop="url" href="/blog/">Blog</a></li>
                    <li><a itemprop="url" href="/projects/">Projects</a></li>
                    <li><a itemprop="url" href="/contact/">Contact</a></li>
                </ul>
            </nav>
            <hr />
        </header>

        <main role="main" itemscope itemprop="mainContentOfPage">
            <section class="content">
                <%= yield %>
                <% render 'footer' do %><% end %>
            </section>
        </main>
        <script src="https://kit.fontawesome.com/91af8364fb.js" crossorigin="anonymous"></script>
        <script src="/js/build.js" async></script>
    </body>
</html>
