<footer role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
  <small class="copyright">
    &copy;
    <span itemprop="copyrightYear"><%= Time.now.year.to_s %></span>
    <span
      itemprop="copyrightHolder"
      itemscope
      itemtype="http://schema.org/Person"
    >
      <span itemprop="name">Josh Parnham</span>
    </span>
  </small>

  <div class="links">
    <a href="https://x.com/joshparnham">
      <i class="fa-brands fa-x-twitter"></i>
    </a>
    <a href="https://github.com/josh-">
      <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://linkedin.com/in/joshparnham">
      <i class="fa-brands fa-linkedin"></i>
    </a>
  </div>
</footer>
