<% render 'default' do %>
    <div class="project" style="text-align: center;">
        <a class="nounderline" href="<%= item.path %>"><img srcset="<%= icon(item) %> 1x, <%= highres_icon(item) %> 2x" class="center"></a>
        <h1 style="width:100%; text-align:center"><%= link_to item[:title], item.path %></h1>
        <div style="margin: 20px 0">
            <% if !item[:active] %>
                <div class="lozenge"><i class="fa-solid fa-triangle-exclamation"></i> No longer maintained</div>
            <% end %>
        </div>
        <div style="display: inline-block; margin-left: auto; margin-right: auto; margin-bottom: 20px">
            <% if item[:download] then %>
                <%= link_to "<div class=\"button\"><i class=\"fa-solid fa-download\"></i> Download</div>", item[:download] %>
            <% end %>
            <% if item[:github] then %>
                <%= link_to "<div class=\"button\"><i class=\"fa-brands fa-github\"></i> GitHub</div>", item[:github] %>
            <% end %>
            <% if item[:appstore] then %>
                <a href="<%= item[:appstore]%>">
                    <img class="center" src="/images/appstore.svg" alt="Download on the Mac App Store" />
                </a>
            <% end %>
            <div style="clear: both;"></div>
        </div>
        <article style="text-align: left;">
        <%= yield %>
        </article>
        <br>
    </div>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SoftwareApplication",
  "name": "<%= item[:title] %>",
  "applicationCategory": "http://schema.org/UtilitiesApplication"
  <% if item[:download] then %>
  ,"downloadURL": "<%= item[:download] %>"
  <% end %>
}
</script>
<% end %>
